@import '../../../../../styles/variables.scss';

.commentPlus {
  align-items: center;
  margin-top: 5px;

  .id {
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
  }

  .reply {
    margin-right: 10px;
  }

  .time {
    color: rgb(170, 170, 170);
    font-size: 14px;
  }
}
