@import '../../../../../styles/variables.scss';

.inputAcutalComment {
  margin-top: 5px;
  .inputId {
    font-weight: bold;
    margin-left: 3px;
    margin-right: 10px;
  }
  .inputMessage {
    margin-right: 10px;
  }
  .inputTime {
    color: rgb(170, 170, 170);
    font-size: 14px;
  }
}
