.rightAside {
  position: fixed;
  top: 80px;
  right: 18%;
  width: 20%;

  .profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    .profileImg {
      display: flex;
      align-items: center;

      img {
        width: 55px;
        margin-right: 15px;
        border-radius: 50%;
      }
    }
  }
  .recommend {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    div:first-child p {
      display: inline-block;
      font-weight: 600;
      color: #aaa;
    }
  }
  .userRecommend {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    .userRecommendProfile {
      display: flex;
      align-items: center;

      .userRecommendImg {
        img {
          width: 40px;
          margin-right: 8px;
          border-radius: 50%;
        }
      }
      .userRecommendText p:last-child {
        color: #bbb;
      }
    }
    .userRecommendBtn {
      p {
        color: var(--main--point--color);
        cursor: pointer;
      }
    }
  }
  .info {
    .infoLink {
      p {
        display: inline-block;
        margin-bottom: 5px;
        color: #bbb;
        font-size: 11px;
        cursor: pointer;
      }
    }
    .copyright {
      margin-top: 5px;
      color: #bbb;
      font-size: 11px;
    }
  }
}
