.userRecommend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  .userRecommendProfile {
    display: flex;
    align-items: center;

    .userRecommendImg {
      img {
        width: 40px;
        margin-right: 8px;
        border-radius: 50%;
      }
    }
    .userRecommendText p:last-child {
      color: #bbb;
    }
  }
  .userRecommendBtn {
    p {
      color: var(--main--point--color);
      cursor: pointer;
    }
  }
}
