@import '../../../../../styles/variables.scss';

.storyPic {
  display: flex;

  .storyImgPic {
    width: 35px;
    height: 35px;
    border-radius: 70%;
    margin: 10px;
  }
  .storyHitoryInfo {
    display: flex;
    flex-direction: column;
    margin-top: 13px;
    .id {
      font-weight: bold;
    }
    .time {
      font-size: 13px;
      color: grey;
    }
  }
}
